<footer class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white mb-3">
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <p class="navbar-text">&copy; <%= new Date().getFullYear() %></p>
        </li>
        <li class="nav-item"><a href="/" class="nav-link text-primary">Home</a></li>
    </ul>
</footer>
<style>
    .footer {
        position: absolute;
        bottom: 0;
        height: 60px;
        line-height: 60px;
    }
</style>
</body>

</html>